# Ignorar node_modules
node_modules/

# Ignorar la carpeta de cobertura de pruebas (jest)
coverage/

# Ignorar archivos de entorno
.env

# Ignorar los archivos de compilación de TypeScript
dist/

# Ignorar los archivos de lock de npm (si no son necesarios para la versión exacta)
package-lock.json

# Ignorar los archivos de configuración del editor (como el de VSCode)
.vscode/

# Ignorar los logs
*.log
